*{
  box-sizing:border-box;
  font-family:system-ui;
}

body{
  margin:0;
  background:#050814;
  color:white;
}

/* AUTH */
.auth{
  position:fixed;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background:radial-gradient(circle,#0f172a,#050814);
}

.auth-card{
  width:340px;
  padding:28px;
  background:#0f172a;
  border-radius:14px;
}

/* APP */
.app{display:flex}

/* SIDEBAR */
.sidebar{
  width:240px;
  position:fixed;
  height:100vh;
  background:#0b1020;
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.menu{
  background:none;
  border:none;
  color:#9ca3af;
  text-align:left;
  padding:10px;
  border-radius:8px;
}

.menu.active,
.menu:hover{
  background:#111827;
  color:white;
}

.logout{
  margin-top:auto;
  background:#ef4444;
  padding:10px;
  border:none;
  border-radius:10px;
}

/* MAIN */
.main{
  margin-left:240px;
  padding:24px;
}

/* PAGE CONTROL */
.page{
  display:none;
}

.page.active{
  display:block;
}

/* TOPBAR */
.topbar{
  margin-bottom:15px;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:12px;
}

.card{
  background:#0f172a;
  padding:14px;
  border-radius:12px;
}

/* BROADCAST */
.broadcast{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

/* CHART FIX */
.chart-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
}

.chart-card{
  background:#0f172a;
  padding:14px;
  border-radius:12px;
  height:260px;
}

.chart-wrap{
  height:180px;
  display:flex;
  justify-content:center;
  align-items:center;
}

canvas{
  max-width:200px !important;
  max-height:200px !important;
}

/* TABLE */
.table-box{
  margin-top:15px;
  background:#0f172a;
  padding:12px;
  border-radius:12px;
}

/* TASK BOARD */
.task-board{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
}

.tool-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
}

.tool{
  background:#0f172a;
  padding:16px;
  border-radius:12px;
}